@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

/* Colors */
$color-primary-purple: hsl(259 100% 65%);
$color-primary-lightred: hsl(0 100% 67%);
$color-neutral-white: hsl(0 0% 100%);
$color-neutral-offwhite: hsl(0 0% 94%);
$color-neutral-lightgrey: hsl(0 0% 86%);
$color-neutral-smokeygrey: hsl(0 1% 44%);
$color-neutral-offblack: hsl(0 0% 8%);

/* Font Family */
$ff-poppins: 'Poppins', sans-serif;

/* Font Sizes */
$fs-14: .875rem;
$fs-32: 2rem;
$fs-100: 6.25rem;

/* Font Weights */
$fw-400: 400;
$fw-700: 700;
$fw-800: 800;